<div class="hand-ticker">
  <div class="track">
    <span>Have A Nice Day</span>
    <span>Sam The Man</span>
    <span>Shurl The Girl</span>
    <span>Handspun Records</span>
    <span>Dready Original</span>
    <span>BTKA</span>
    <span>Vortex</span>
    <span>Funky Dog</span>
    <span>Don't Do The Dodo</span>
    <span>Incubator</span>
    <span>Sista</span>
    <span>Have A Nice Day</span>
    <span>Sam The Man</span>
    <span>Shurl The Girl</span>
    <span>Handspun Records</span>
    <span>Dready Original</span>
    <span>BTKA</span>
    <span>Vortex</span>
    <span>Funky Dog</span>
    <span>Don't Do The Dodo</span>
    <span>Incubator</span>
    <span>Sista</span>
  </div>
</div>

{% schema %}
{
  "name": "V3 Ticker",
  "settings": [],
  "presets": [{ "name": "V3 Ticker" }]
}
{% endschema %}
